In [27]:
import pandas as pd
import os

RAW_DATA_DIR = "../data/raw/"
CLEAN_DATA_DIR = "../data/clean/"

# Basic Cleaning
- column name formatting
- generating primary key psu_hh_idcode
-

### Education

In [11]:

Education = pd.read_csv(os.path.join(RAW_DATA_DIR, "train_Education.csv"))
Education['psu_hh_idcode'] = Education['psu'].astype(str) + '_' + Education['hh'].astype(str) + '_' + Education['idcode'].astype(str)
Education.drop(columns=['psu', 'hh', 'idcode'], inplace=True)
Education = Education[['psu_hh_idcode'] + [col for col in Education.columns if col != 'psu_hh_idcode']]
Education.columns = [col.capitalize() if col.lower().startswith('q') else col for col in Education.columns]
Education.head()

,psu_hh_idcode,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,...,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66
0,2_8_3,1,1,1,2.0,3.0,3.0,2.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,2.0
1,3_8_4,1,1,1,2.0,2.0,2.0,0.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,2.0
2,6_5_3,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,4.0
3,7_7_3,1,1,1,6.0,1.0,3.0,0.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,6.0
4,16_2_4,1,1,1,5.0,3.0,2.0,4.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,2.0

In [25]:
for column in Education.columns:
    if column in ['psu', 'hh', 'idcode']: continue
    unique_values = Education[column].unique()
    print(f"'{column}': {unique_values}")

'psu_hh_idcode': ['2_8_3' '3_8_4' '6_5_3' ... '808_10_3' '377_1_2' '377_1_1']
'Q01': [1 3 2]
'Q02': [1 3 2]
'Q03': [1 2]
'Q04': [ 2.  6.  5. nan  4.  1.  7.  8.  9. 10.  3.  0. 11.]
'Q05': [ 3.  2.  1.  4.  5. nan  9.  6.  8.  7.  0.]
'Q06': [ 3.  2.  6. nan  7.  1.  9.  5.  8. 10.  0.  4. 11.]
'Q07': [ 2.  0.  4.  3.  1. nan]
'Q08': [ 1.  2. nan]
'Q09': [ 1. nan  2.]
'Q10': [nan  2.  1.  4.  5. 13.  8.]
'Q11': [nan 13.  1.  4. 14.  2.  5.  3. 12. 10.  7.  8.  9. 11.]
'Q12': [ 6.  2.  5. nan  4.  8.  1.  7. 10.  3.]
'Q13': [ 1.  3.  2.  4.  5. nan  7.  9.  6.  8.]
'Q14': [ 1. nan  2.]
'Q15': [ 1. nan  2.]
'Q16': [nan  1.  2. 13. 12.]
'Q17': [nan  2. 13. 14.  1.  4.  5.  6.  7. 10.  3.  8.  9. 12. 11.]
'Q18': [nan  7. 10.  6. 14. 17. 18. 15.  8. 11.  9. 12. 16. 13. 19. 20. 22. 24.
 23. 25. 21. 36. 43. 45. 46. 34. 38. 28. 37. 29. 27. 26.]
'Q19': [nan  1.  2.]
'Q20': [nan  1.  2.]
'Q21': [ 2.  6.  5. nan  4.  1.  7.  8.  9. 10.  3.]
'Q22': [ 3.  2.  1.  4.  5. nan  9.  6.  8.  7.]
'Q23': [ 3.  1. nan  2.]
'Q24': [4.00e+00 1.00e+00 0.00e+00 8.50e+01 2.00e+00 1.20e+02 6.00e+00 1.00e+02
 2.00e-01 5.00e+00 5.00e-01 3.00e+00      nan 4.50e+01 8.00e-01 2.00e+01
 3.00e+01 3.00e-01 7.00e+00 1.00e+01 9.50e+01 1.70e+01 2.50e+01 1.50e+01
 1.30e+01 2.50e+00 2.80e+00 4.00e-01 5.70e+01 1.00e-01 2.30e+01 8.00e+01
 5.00e+01 7.00e+01 7.00e-01 6.00e+01 1.40e+00 9.00e+00 9.00e+01 7.50e+01
 1.20e+01 4.00e+01 1.30e+02 1.80e+01 1.50e+00 4.10e+01 6.00e-01 1.26e+02
 8.00e+00 2.40e+01 4.20e+01 3.40e+01 3.70e+01 2.40e+00 9.99e+02 3.50e+01
 6.50e+01 6.40e+00 2.70e+01 2.10e+01 4.30e+01 1.17e+01 3.80e+01 6.80e+01
 1.40e+01 1.20e+00 3.30e+00 2.50e+02 3.60e+01 4.50e+00 3.90e+01 1.10e+01
 4.40e+01 2.80e+01 1.80e+00 3.50e+00 3.20e+00 2.30e+00 1.60e+01 1.90e+00
 9.00e-01 4.70e+00 2.70e+00 1.30e+00 1.60e+00 9.90e+01 1.10e+00 2.00e+02
 5.00e+02 3.10e+00 2.20e+00 5.20e+00 7.07e+01 2.60e+01]
'Q25': [nan  1.  2.]
'Q26': [ 0.  2.  1. nan  3.  5.  6.  4. 15.]
'Q27': [20. 10.  3. 25. 15. 30. 60. 45.  5.  2. 40.  0. nan 13. 50. 23. 35.  4.
 29. 18.  7. 12.  6. 46. 47. 39. 33. 34. 37.  1.  8. 14. 36. 22. 24. 38.
 21.  9. 11. 17. 32. 27. 16. 31. 28. 26.]
'Q28': [ 5.  1.  4. nan  6.  2.  7.  3.]
'Q29': [5.00e+03      nan 1.00e+04 1.80e+04 1.00e+05 1.50e+04 4.00e+04 3.00e+04
 2.00e+04 6.00e+04 5.00e+04 9.00e+04 6.00e+03 1.20e+05 2.50e+04 1.20e+04
 2.10e+04 1.40e+04 3.20e+04 1.08e+05 2.00e+05 2.20e+04 1.80e+05 2.80e+05
 0.00e+00 8.00e+04 9.00e+03 3.00e+03 4.00e+03 7.00e+04 7.50e+04 8.50e+04
 2.40e+04 5.50e+04 3.60e+04 8.00e+03 6.00e+05 7.00e+03 3.00e+05 1.50e+05
 2.70e+05 1.20e+03 4.50e+04 1.10e+04 4.80e+04 6.50e+04 1.26e+05 1.30e+05
 7.20e+04 9.60e+04 2.64e+04 1.10e+05 1.40e+05 5.00e+02 2.70e+04 1.70e+05
 5.60e+04 2.00e+03 3.60e+05 1.35e+05 1.00e+03 1.60e+04 3.60e+03 3.50e+04
 2.80e+04 4.40e+04 1.30e+04 2.30e+04 1.70e+04]
'Q30': [ 2. nan  1.]
'Q31': [    nan      0.  10000.   8000.  20000.  50000. 100000.  25000.   5000.
  15000.   6000.  40000.  28000.  12000.]
'Q32': [ 2.  1. nan]
'Q33': [1.50e+06 0.00e+00 2.00e+05 2.50e+05 3.00e+05 2.00e+06 2.00e+04 1.00e+04
 5.00e+05 1.00e+05      nan 3.40e+05 5.00e+03 1.60e+05 7.50e+05 1.80e+05
 5.00e+04 1.50e+05 3.50e+06 1.30e+05 3.20e+05 3.00e+04 6.00e+04 7.00e+05
 2.50e+04 2.20e+05 1.20e+05 1.55e+05 4.00e+04 3.50e+05 2.60e+05 2.20e+04
 3.00e+06 2.80e+06 1.50e+04 4.50e+04 2.50e+06 3.90e+04 4.00e+05 6.00e+05
 5.00e+06 5.80e+04 1.00e+06 1.25e+05 9.00e+05 4.50e+05 1.40e+05 1.58e+05
 1.45e+05 1.65e+05 2.30e+05 1.53e+05 2.65e+05 1.70e+04 1.70e+05 1.90e+05
 7.20e+05 1.34e+05 2.70e+05 3.80e+05 5.60e+05 2.70e+04 2.55e+05 2.74e+05
 1.20e+06 2.60e+06 1.40e+06 1.30e+06 7.00e+04 1.80e+07 4.90e+06 3.60e+05
 4.00e+06 2.35e+05 2.20e+06 1.10e+06 5.50e+05 8.00e+05 8.50e+05 2.30e+06
 3.90e+05 2.80e+05 1.35e+05 6.50e+05 7.40e+05 2.76e+06 7.60e+05 2.40e+06
 2.05e+05 2.40e+05 8.40e+05 4.50e+06 5.20e+05 4.20e+05 3.15e+05 2.40e+04
 7.00e+06 5.40e+05 4.30e+05 3.50e+04 3.00e+03 4.00e+03 2.00e+03 8.00e+04
 1.20e+04 1.50e+03 2.30e+04 2.50e+03 1.30e+04 7.00e+03 6.00e+03 1.00e+03
 5.00e+02 8.00e+03 6.50e+04 2.90e+04 3.20e+04 7.40e+04 6.75e+05 3.70e+04
 7.80e+03 1.35e+06 9.00e+04 1.30e+03 1.10e+05 1.60e+04 4.20e+04 1.70e+06
 1.10e+04 1.40e+04 4.40e+04 2.80e+04]
'Q34': [0.0e+00 1.5e+04 1.0e+05 3.0e+04     nan 1.0e+04 1.2e+04 4.0e+04 2.0e+04
 2.5e+04 6.0e+03 5.0e+03 2.7e+05 2.0e+05 3.5e+04 1.4e+05 1.5e+05 1.1e+05
 1.2e+05 7.0e+04 2.0e+03 6.0e+04 1.4e+04 3.0e+05 1.8e+05 7.5e+04 8.0e+04
 5.0e+04 3.8e+04 1.0e+03 9.0e+03 8.0e+03 2.3e+04 1.7e+04 1.8e+04 3.1e+04
 3.0e+03 7.0e+03 4.0e+03 1.3e+04 2.7e+04 1.6e+04 4.5e+04 1.7e+05 5.0e+02
 1.1e+04 3.3e+04 9.0e+04 5.2e+04 2.2e+04 1.5e+03 2.4e+04 4.9e+04 4.6e+03
 8.2e+05 5.5e+04 2.5e+05 1.3e+05 5.0e+01 1.2e+03]
'Q35': [1.00e+05 1.50e+04 6.00e+04 5.00e+04 1.00e+04 3.00e+04 8.50e+04 7.50e+04
 3.00e+05 9.00e+04 1.20e+05 4.00e+04 7.00e+04 6.50e+04 5.80e+04      nan
 3.05e+04 2.00e+04 0.00e+00 4.50e+04 1.70e+05 2.00e+05 3.60e+04 1.50e+05
 1.40e+05 2.30e+04 4.80e+04 3.80e+04 2.50e+04 4.40e+04 1.10e+05 2.20e+05
 8.00e+04 5.50e+04 3.50e+04 1.60e+05 2.80e+04 1.80e+05 3.40e+04 2.50e+05
 7.20e+04 1.30e+05 3.60e+05 4.00e+05 2.60e+05 3.50e+05 4.60e+04 1.08e+05
 3.70e+04 1.20e+04 2.30e+05 1.75e+05 2.40e+05 4.30e+04 5.40e+04 5.60e+04
 5.00e+05 6.00e+03 6.00e+05 7.90e+04 1.90e+05 5.50e+05 3.20e+04 7.40e+04
 5.00e+01 4.50e+05 1.00e+06 1.30e+04 2.40e+04 1.20e+03 3.00e+03 1.70e+04
 1.25e+04 2.47e+04 2.60e+04 9.50e+03 2.20e+04 1.80e+04 1.90e+04 1.60e+04
 2.70e+04 5.00e+03 1.10e+04 2.90e+04 1.16e+05 3.25e+04 6.50e+05 7.00e+03
 2.17e+04 3.10e+04 1.86e+04 1.75e+04 1.40e+04 4.20e+04 2.55e+04 4.65e+04
 2.10e+04 2.42e+04 2.27e+04 5.20e+04 4.10e+04 3.40e+03 2.75e+04 3.30e+04
 1.50e+03 3.50e+03 1.60e+03 2.26e+04 1.00e+03 3.28e+04 5.70e+04 4.90e+04
 4.00e+03 5.10e+04 8.00e+03 5.30e+04 3.90e+04 6.20e+04 4.15e+04 6.70e+04
 5.35e+04 2.80e+05 4.70e+04 8.70e+04 3.70e+05 6.30e+04 4.58e+04 3.40e+05
 2.50e+03 6.80e+04 2.00e+03 2.45e+04 3.62e+04 7.60e+04 8.60e+04]
'Q36': [     0.  50000.  25000.   8000.  20000.  10000.     nan   5000.  23000.
  15000.  40000.  30000.  17000.   2000. 150000.  80000.  45000.   6000.
 300000. 200000. 160000.   3000. 100000.  70000. 120000.  13000.  26000.
  12000.  27000.  18000.   9000.   1500.   1300.   4000.  35000.   7000.
   6500.   2500.    800.   1000.  60000.  14000.   7500.   3500.  16000.
 200300.   4500.   1200.  22000.   3400.  11000.  21000.  24000.   3200.
   9500.   5300.]
'Q37': [2.00e+04 0.00e+00 1.00e+04 1.50e+04 3.00e+04 5.00e+04 4.00e+03 5.00e+03
      nan 2.50e+04 1.40e+04 4.00e+04 2.30e+04 1.20e+04 1.20e+05 1.00e+05
 1.00e+03 3.00e+03 3.50e+04 2.50e+05 2.00e+05 1.50e+05 2.00e+03 1.30e+04
 7.00e+03 6.00e+04 7.00e+04 1.80e+04 8.00e+04 1.00e+06 1.35e+04 5.00e+05
 8.00e+03 1.50e+03 1.87e+05 4.50e+04 1.70e+04 1.40e+05 2.20e+04 6.00e+03
 4.50e+03 7.50e+02 1.10e+04 3.40e+03 1.30e+03 9.00e+03 3.40e+04 1.30e+05
 1.60e+04 8.00e+02 2.10e+04 5.00e+02 2.40e+04 5.70e+03 2.00e+02 3.00e+05
 2.10e+03 2.60e+04 5.80e+03 1.80e+05 2.70e+05]
'Q38': [0.0000e+00 9.0000e+05 3.0000e+05 2.5000e+05 1.5000e+06 5.0000e+04
 5.0000e+05 2.0000e+06 1.0000e+06 4.0000e+04 2.0000e+05        nan
 1.0000e+05 2.5000e+04 2.7000e+06 1.7500e+06 3.5000e+06 1.2000e+06
 3.0000e+04 4.0000e+05 6.0000e+05 3.5000e+05 7.0000e+04 7.2000e+05
 1.8000e+06 7.0000e+05 6.0000e+04 2.2500e+05 3.0000e+06 2.3000e+05
 2.0000e+04 2.5000e+06 1.2000e+05 3.6000e+05 1.8000e+05 1.6000e+06
 2.3400e+06 1.6000e+05 5.6000e+05 8.0000e+05 6.5000e+05 1.2600e+06
 2.1000e+06 5.5000e+05 1.5000e+05 2.4000e+05 1.3000e+05 1.3000e+06
 3.7000e+05 4.5000e+05 4.5000e+06 1.6800e+05 1.7000e+06 1.7000e+05
 2.2000e+06 2.4000e+06 4.0000e+06 3.8000e+06 1.3500e+06 1.1000e+06
 2.0005e+05 5.0000e+06 1.0000e+04 5.0000e+03 3.5000e+04 9.0000e+04
 1.2000e+04 5.5000e+03 2.0000e+03 2.0500e+04 8.0000e+03 5.4000e+05
 1.1000e+05 8.0000e+04 5.0000e+02 6.0000e+03 5.4000e+04 1.5000e+04
 1.0000e+02 4.0000e+03 8.5000e+04 1.9000e+04 7.0000e+03 3.6000e+04
 6.5000e+04 3.0000e+03 6.7000e+04 1.7000e+04 1.4000e+04 3.2000e+05
 4.5000e+04 1.9000e+06 2.2000e+04]
'Q39': [     0.  30000.  50000.  10000.  70000.     nan  20000.  40000. 200000.
 100000.  55000.  15000. 120000.  60000.   5000. 150000. 250000.  35000.
  19000.  45000.  25000. 300000.  80000.   2000.  18000.  34000. 130000.
 500000.  12000.   3000.   1000.   7000.  23000.   8000.   4000.  14000.
  13000.  65000. 299900.  27000.  64000.   6000.   1500.   2300.  90000.
  32000. 350000.  16000.   2500. 220000. 180000. 170000.]
'Q40': [5.0e+05 5.0e+03 0.0e+00 5.0e+04 4.0e+04 1.0e+06 2.0e+04 1.0e+05 1.0e+04
     nan 3.0e+04 2.0e+05 1.5e+05 1.0e+03 1.1e+04 2.0e+03 2.5e+05 7.0e+04
 4.0e+05 3.0e+05 3.6e+05 7.0e+05 8.0e+03 7.2e+04 3.8e+05 1.5e+04 4.5e+04
 3.5e+04 2.3e+04 3.5e+05 1.2e+05 1.9e+04 2.5e+04 1.2e+04 8.0e+04 6.0e+04
 6.0e+05 1.3e+04 1.4e+04 7.0e+03 4.0e+03 4.3e+04 1.8e+04 3.0e+03 2.2e+04
 1.5e+03 1.0e+02 6.5e+04 2.8e+04 6.0e+03 4.8e+04 9.0e+03 9.0e+04 2.6e+03
 4.9e+04 6.9e+04 2.9e+04 1.1e+05 1.8e+05 1.6e+04 2.1e+05 4.2e+04 1.4e+05
 9.0e+05 5.5e+05]
'Q41': [2.1200e+06 2.0000e+04 7.0000e+04 1.2250e+06 4.0000e+05 1.5400e+06
 4.5000e+04 2.0000e+06 1.1000e+05 8.8500e+05 1.0500e+05 1.0000e+06
 9.0000e+04 2.2280e+06 3.0000e+04 8.0000e+04 3.6540e+06 1.3500e+06
 2.1350e+06 2.2500e+05 8.0000e+05 1.5000e+05 5.5000e+04 7.3000e+04
 9.0000e+05 4.4000e+05        nan 3.0500e+04 1.6500e+05 4.9500e+05
 5.0000e+04 1.5500e+05 2.0000e+05 1.4000e+05 1.2800e+05 2.5350e+06
 2.5000e+06 6.0000e+04 3.0000e+05 1.5400e+05 0.0000e+00 1.3000e+05
 9.5000e+04 4.1000e+05 7.0000e+05 2.7500e+05 2.4000e+06 6.2300e+06
 8.5000e+04 1.5600e+05 1.5500e+06 7.4500e+05 4.0000e+06 6.5000e+05
 1.9400e+06 1.7000e+06 2.6000e+05 2.3000e+04 6.8000e+04 1.1900e+05
 3.4600e+05 2.5500e+05 1.2000e+05 3.7000e+05 1.0000e+05 1.2150e+06
 2.2920e+06 7.2000e+04 6.0000e+05 1.8150e+06 6.5000e+04 9.5000e+05
 1.0200e+05 9.4500e+05 6.1000e+05 1.2600e+05 2.1220e+06 1.6800e+06
 1.6600e+06 1.2500e+05 3.8000e+05 2.1500e+05 4.0000e+04 1.4930e+06
 7.5000e+04 5.0000e+05 2.3500e+06 1.8500e+06 1.9500e+06 1.9000e+05
 1.5750e+06 1.4500e+05 1.8000e+05 1.3000e+04 3.3000e+06 1.2000e+06
 7.1000e+05 1.2200e+06 4.7000e+05 1.1300e+06 4.3000e+04 5.9000e+05
 1.5000e+06 2.4000e+05 2.1000e+06 7.6800e+05 2.2000e+05 2.3000e+06
 2.3000e+05 3.5000e+05 7.2000e+05 3.8200e+06 4.6000e+05 1.5800e+06
 2.1000e+05 6.9000e+05 1.4400e+05 1.6400e+05 1.3500e+05 1.7000e+05
 2.5800e+06 3.5200e+05 2.5000e+05 4.8700e+05 5.9000e+04 6.3000e+04
 1.1350e+06 3.9000e+05 6.6000e+05 5.1000e+05 2.0500e+05 1.3800e+05
 8.2000e+04 1.6000e+05 3.0700e+06 1.8000e+06 5.3100e+06 3.0000e+06
 1.6800e+05 5.9800e+06 7.3000e+05 2.6200e+06 7.5000e+05 2.7000e+05
 8.3000e+05 8.2000e+05 1.4500e+06 2.0250e+06 8.7000e+05 6.3700e+05
 3.2300e+05 3.0500e+05 5.8000e+04 6.0400e+05 1.3000e+06 1.1800e+06
 6.4000e+05 6.3000e+05 5.4000e+05 9.3000e+05 7.7000e+05 7.1500e+05
 3.4000e+05 2.6500e+05 5.1150e+06 1.9500e+05 2.3950e+06 4.2500e+05
 2.8600e+06 2.9000e+06 2.2700e+06 2.8500e+06 2.3050e+06 5.2000e+05
 5.0000e+03 2.0100e+05 2.7100e+05 2.6400e+06 2.5300e+06 1.4700e+06
 6.6500e+05 9.6000e+05 5.9600e+05 1.1500e+05 1.0300e+05 2.8000e+05
 9.3500e+05 5.0000e+06 3.6000e+05 1.2600e+06 1.1800e+05 1.5300e+06
 1.4300e+06 9.2000e+04 1.4200e+06 3.0200e+06 2.7500e+06 4.0500e+05
 3.3500e+05 1.6000e+06 1.4000e+06 1.3800e+06 6.2000e+05 1.1080e+06
 2.4300e+06 4.2050e+04 3.1000e+05 1.0150e+06 6.7500e+05 2.9000e+05
 2.5700e+06 3.1200e+06 2.6600e+06 1.1500e+06 7.9000e+05 1.3700e+05
 3.7300e+05 3.6500e+05 4.6500e+05 2.0700e+06 2.0400e+05 4.2000e+05
 2.3500e+05 5.3000e+05 3.7800e+05 2.6800e+05 4.5000e+05 1.0700e+06
 8.3000e+04 2.2600e+06 4.2870e+06 5.4000e+06 6.2500e+05 6.7000e+05
 7.6000e+05 2.3900e+05 1.4900e+05 1.5600e+06 2.7000e+06 1.1400e+06
 1.9000e+06 6.2800e+05 1.2350e+06 4.8000e+05 1.8500e+05 5.0500e+05
 3.5000e+04 7.5500e+05 1.4800e+06 3.2500e+05 2.6000e+06 5.8000e+05
 6.0500e+05 1.0000e+04 5.6000e+05 9.1000e+05 5.8300e+05 2.3700e+06
 2.5200e+06 3.4400e+05 4.5400e+05 1.1000e+06 1.0380e+06 1.2400e+06
 1.0800e+06 1.2900e+06 3.3000e+05 4.3000e+06 1.3400e+06 2.1720e+06
 2.4050e+06 2.4040e+06 8.4000e+05 2.1800e+06 1.9200e+06 5.7000e+05
 1.9000e+04 3.7500e+06 1.0600e+06 1.8310e+07 7.1900e+06 3.1400e+06
 1.6720e+06 2.1500e+06 5.5300e+05 1.2800e+06 1.7500e+05 3.6600e+05
 3.5400e+05 5.5000e+05 4.3000e+05 3.6000e+06 2.4900e+05 1.0750e+06
 1.2970e+06 2.4750e+06 3.1200e+05 4.1600e+06 7.2500e+05 3.2000e+05
 7.6500e+05 3.2500e+06 1.0000e+07 8.8800e+05 2.4900e+06 7.9200e+06
 2.4200e+06 5.9700e+05 2.6800e+06 1.4640e+06 3.7150e+05 4.7100e+05
 1.7500e+06 2.8000e+06 2.3600e+06 3.2600e+06 1.9120e+06 2.0500e+06
 1.2500e+06 1.1030e+06 9.8000e+05 6.4500e+05 2.0300e+06 3.5130e+06
 4.5400e+06 9.2000e+05 2.2200e+06 2.0850e+06 2.4500e+06 2.9600e+06
 1.7700e+06 1.3650e+06 1.0650e+06 1.4950e+06 2.2080e+06 2.2800e+06
 4.2600e+05 3.8000e+06 2.0100e+06 2.7050e+06 2.3200e+06 3.7000e+06
 3.5600e+05 6.2000e+04 4.9000e+05 1.0900e+06 7.4000e+05 2.5800e+05
 8.4000e+04 1.8290e+06 4.3800e+06 1.5150e+06 2.7800e+06 8.8000e+04
 2.5600e+06 2.3800e+05 7.5100e+05 4.1000e+06 2.3550e+06 8.8000e+05
 4.6000e+06 2.6500e+04 1.1100e+06 2.7600e+06 4.3500e+06 2.8400e+06
 1.0440e+06 3.1150e+06 2.4680e+06 2.3900e+06 2.9200e+06 3.1000e+06
 1.5540e+06 6.0800e+05 5.4380e+06 5.2200e+05 2.1050e+06 6.5005e+05
 3.2000e+06 6.9700e+05 2.1100e+06 2.0600e+06 3.2570e+06 5.2500e+05
 1.8800e+06 3.0400e+06 1.3300e+06 2.6200e+05 3.7500e+05 5.2900e+05
 2.2400e+06 1.9670e+06 3.6100e+06 8.9000e+05 2.0170e+06 2.0900e+06
 1.3700e+06 6.1000e+04 3.6500e+06 1.0300e+06 3.2740e+06 6.2450e+06
 1.0550e+06 7.0000e+06 1.4250e+06 2.5500e+06 4.2330e+06 2.2200e+05
 1.3900e+06 9.1000e+04 7.9200e+05 5.5500e+05 8.3500e+06 8.3900e+05
 4.1460e+06 1.1500e+04 7.0000e+03 2.5000e+04 2.6000e+04 1.1250e+06
 4.9000e+04 8.9500e+04 3.0000e+03 3.3000e+04 5.7000e+04 2.9200e+05
 1.7400e+05 2.7000e+04 9.5700e+04 1.5300e+05 1.6700e+05 3.3700e+05
 9.5000e+03 6.4000e+04 1.5000e+04 5.4000e+04 5.3000e+04 3.8000e+04
 3.1500e+04 6.0500e+04 6.9000e+04 1.8750e+04 3.9000e+04 9.4000e+04
 5.9500e+04 4.8000e+04 2.2000e+04 1.6000e+04 1.4800e+05 5.2000e+04
 4.4000e+04 6.7000e+04 1.6600e+05 2.4000e+04 4.7000e+04 1.3200e+05
 1.7000e+04 2.9000e+04 1.4100e+05 6.6000e+04 4.2000e+04 3.6000e+04
 1.8900e+05 9.6000e+04 5.7500e+04 3.2000e+04 1.8000e+04 1.9200e+05
 7.8500e+05 1.1550e+05 9.0900e+04 1.2000e+04 1.7800e+04 2.9500e+05
 5.6000e+04 3.4000e+04 9.3000e+03 4.6500e+04 3.7000e+04 3.4700e+04
 2.8000e+04 7.7000e+04 1.1600e+05 4.8500e+04 1.0900e+05 7.6000e+04
 5.1000e+04 9.0000e+03 4.4600e+04 7.6500e+04 1.1100e+05 2.7500e+04
 1.0100e+06 2.1000e+04 7.1000e+04 1.5700e+05 9.7000e+04 8.7500e+04
 1.0400e+05 1.1300e+05 1.3400e+05 1.4700e+05 2.0700e+05 7.9000e+04
 1.0100e+05 4.6000e+04 1.7600e+05 1.4000e+04 7.8000e+04 3.9200e+04
 8.5000e+05 5.7900e+05 3.2800e+05 1.7100e+05 6.3500e+04 8.0000e+03
 4.0500e+04 1.2300e+05 3.1000e+04 2.9700e+04 5.2500e+04 1.2400e+05
 4.1000e+04 1.8200e+05 7.9500e+05 2.8500e+05 7.4000e+04 1.4300e+05
 1.2200e+05 1.2400e+04 4.3500e+04 2.0000e+03 8.7000e+04 8.6000e+04
 7.3000e+03 5.3500e+04 3.3010e+05 1.1600e+04 1.7700e+05 7.8230e+05
 1.1050e+05 6.2800e+04 2.5300e+05 1.5200e+05 2.2800e+05 1.9800e+05
 5.8500e+05 3.4500e+05 3.4900e+05 4.6100e+05 1.3100e+05 5.0500e+04
 1.5800e+05 2.6700e+05 9.8000e+04 9.3000e+04 2.3200e+05 1.2900e+05
 1.2100e+05 9.9000e+04 1.1700e+05 2.1550e+05 1.6100e+05 1.1200e+05
 4.7300e+05 8.1000e+04 3.1500e+05 1.1000e+04 2.7700e+04 1.3300e+05
 1.4200e+05 1.0500e+04 7.7000e+03 7.5000e+03 1.0600e+05 1.6200e+05
 7.8500e+04 3.9700e+05 1.9300e+04 2.8300e+05 1.8600e+05 8.4800e+05
 4.7010e+05 2.8480e+05 4.1960e+05 1.7200e+05 1.0700e+05 1.7800e+05
 5.0700e+05 1.4650e+06 1.2450e+05 1.7900e+05 3.1700e+05 1.6300e+05
 1.0800e+05 8.0500e+04 2.5200e+05 6.1990e+05 1.7300e+05 1.9600e+05
 5.7300e+05 1.9150e+05 1.6900e+05 8.1800e+04 5.1500e+04 1.5900e+05
 3.6900e+05 5.5500e+04 2.9300e+05 8.6000e+05 6.6580e+05 1.3966e+06
 2.2500e+04 1.8800e+05 2.1100e+05 2.4300e+05 2.5600e+05 5.4200e+04
 1.6450e+07 6.0000e+03 6.8000e+05 3.7100e+05 3.8300e+05 5.6500e+05
 1.6150e+05 2.4200e+05 4.4500e+04 4.2300e+04 5.3200e+05 2.1650e+05
 8.9000e+04 3.5500e+05 4.9500e+04 4.5500e+05 4.8500e+05 6.2300e+04
 2.2000e+06 2.1400e+05 8.7500e+05 4.4400e+05 1.8400e+05 1.5100e+05
 7.0200e+04 8.1400e+05 1.2570e+06 5.7100e+05 5.3500e+05 2.6750e+05
 1.2500e+04 6.9500e+05 9.2500e+04 2.3300e+05 2.4500e+05 2.8200e+05
 8.0500e+05 1.8100e+06 6.1005e+05 3.2200e+05 4.4100e+05 4.3500e+05
 6.9200e+05 1.3600e+05 2.7400e+05 1.1340e+06 1.7900e+06 9.0500e+05
 3.5000e+06 9.8200e+04 6.5400e+05 2.0200e+05 1.7100e+06]
'Q42': [ 1.  2. nan  3.]
'Q43': [ 1.  2. nan]
'Q44': [nan  2.  4.  1.  3.]
'Q45': [ 2.  1. nan]
'Q46': [ 2.  1. nan]
'Q47': [     nan 0.00e+00 1.00e+04 2.00e+04 3.00e+04 2.50e+04 5.00e+04 7.00e+04
 4.50e+04 6.00e+04 4.00e+04 1.20e+04 5.50e+04 3.40e+04 1.40e+04 7.50e+04
 1.60e+04 1.00e+05 1.50e+04 5.00e+01 1.70e+04 5.00e+03 2.20e+04 1.80e+04
 7.00e+03 3.50e+04 6.50e+03 7.50e+03 1.25e+04 2.40e+04 2.90e+04 2.70e+04
 3.80e+04 4.60e+04 2.00e+03 1.90e+04 2.50e+03 1.10e+04 2.80e+04 1.75e+04
 2.30e+04 3.10e+04 4.50e+03 3.20e+04 4.50e+05 3.70e+04 1.30e+04 2.60e+04
 2.42e+04 1.96e+04 2.10e+04 6.00e+03 4.80e+04 4.10e+04 2.75e+04 9.00e+03
 8.00e+04 8.00e+03 4.00e+03 3.60e+04 4.20e+04 5.60e+04 4.30e+04 6.70e+03
 6.30e+04 5.40e+04 3.35e+04 5.35e+04 2.83e+04 4.40e+04 2.45e+04 6.50e+04
 1.00e+03 4.70e+04 1.50e+05 5.80e+04 9.00e+04 3.00e+03 7.60e+04 3.30e+04]
'Q48': [nan  4.  2.  1.  3.]
'Q49': [     nan 2.40e+04 2.00e+04 5.00e+04 7.00e+04 2.50e+04 3.50e+04 3.00e+04
 4.00e+04 0.00e+00 1.40e+04 1.60e+04 1.50e+04 1.00e+04 2.70e+04 1.00e+05
 1.20e+04 1.80e+04 3.50e+03 1.70e+04 6.50e+03 7.50e+03 1.25e+04 4.60e+04
 1.10e+04 2.10e+04 1.30e+04 7.00e+03 1.50e+03 8.00e+03 2.80e+04 1.75e+04
 4.50e+03 2.60e+04 1.15e+04 1.00e+03 3.40e+04 2.20e+04 1.96e+04 5.00e+03
 6.00e+03 4.80e+04 9.00e+03 1.95e+04 8.00e+04 1.90e+04 2.00e+03 3.20e+04
 9.50e+03 3.60e+04 2.30e+04 1.45e+04 5.60e+04 5.50e+03 4.00e+03 3.35e+04
 6.00e+04 3.70e+04 2.83e+04 2.90e+04 4.10e+04 4.50e+04 2.45e+04 3.80e+04
 4.40e+04 4.70e+04 1.20e+05 1.55e+04 5.00e+01 6.80e+03 2.57e+04 9.00e+04
 2.25e+04 3.15e+04 5.50e+04 2.35e+04 4.20e+04 4.30e+04 4.80e+03 5.40e+04]
'Q50': [ 2.  1. nan]
'Q51': [nan  3.  1.  2.  4.]
'Q52': [nan  1.  3.  2.  4.]
'Q53': [nan  2.  1.  3.  4.  6.]
'Q54': [nan  1.  2.]
'Q55': [   nan 15000.  4000. 10000.  2000.  5000.  1000. 20000.  3000.   700.
  3300. 30000.  1300.  2500.  1200.   400.  1700.  2800.  8000.  6000.
 25000.  2300.  3500.  1500. 50000.  1250.   300.]
'Q56': [    nan 540000.  40000.  60000.  16000.  20000.  30000.  80000.  17000.
  24000.  48000.  10000. 160000. 100000.   8000.  75000. 120000.  12000.
  50000. 200000.  26000.  15000. 250000.  90000.  25000.  32000. 150000.
  19000. 300000.   2000. 125000.  28000.  36000. 180000.   6000.   1000.
   5000.  70000.  35000.]
'Q57': [ 2.  1. nan]
'Q58': [    nan   5000.  30000.  20000.  10000.   2000. 200000. 100000.   3000.
 300000. 150000.  40000. 600000.  15000.   1000.   4000.  25000.   7000.
  50000.   8000.]
'Q59': [ 2. nan  1.]
'Q60': [nan  2.  3.  1.  0.]
'Q61': [ 2.  1. nan]
'Q62': [nan  3.  1.  2.  7. 22.  5.  4. 10.  8.  0.  6. 20. 15. 13. 12.]
'Q63': [nan  8.  2.  9.  4.  1. 10.  7. 12.  5.]
'Q64': [ 2.  1. nan]
'Q65': [     nan   40000.  160000.  200000.  480000.       0.   50000.  400000.
  750000.   30000. 4200000.   80000.  125000.  360000.   90000.  120000.
  500000.   86000.  350000.   55000.  450000.   42000.  300000.  900000.
 2500000.   44000. 3000000.   95000.  850000.   45000.   35000. 1800000.
  270000.  860000.   20000.   12000.   75000.   15000.  495000.  720000.
  550000.]
'Q66': [ 2.  4.  6.  5.  3. nan  7.  1.]

### HouseholdInfo

In [51]:
HouseholdInfo = pd.read_csv(os.path.join(RAW_DATA_DIR, "train_HouseholdInfo.csv"))
HouseholdInfo['psu_hh_idcode'] = HouseholdInfo['psu'].astype(str) + '_' + HouseholdInfo['hh'].astype(str) + '_' + HouseholdInfo['idcode'].astype(str)
HouseholdInfo = HouseholdInfo[['psu_hh_idcode'] + [col for col in HouseholdInfo.columns if col != 'psu_hh_idcode']]
HouseholdInfo.drop(columns=['psu', 'idcode', 'hh'], inplace=True)
print("Initial HouseholdInfo:")
display(HouseholdInfo.head())

# Non-response rate
house_na_count = HouseholdInfo.isna().sum()
house_nrow = len(HouseholdInfo)
house_na_percentage = HouseholdInfo_na_count / HouseholdInfo_nrow * 100
house_na_percentage = house_na_percentage.sort_values(ascending=False)
house_cols_to_drop = house_na_percentage[house_na_percentage > 0.9]
print("Columns to remove from HouseholdInfo:")
display(house_cols_to_drop.to_frame(name="% of NaN"))
HouseholdInfo.drop(columns=house_cols_to_drop.index, inplace=True)
# Remove these columns 

print("HouseholdInfo after dropping columns with high NA rate:")
display(HouseholdInfo.head())

# Filter out columns with high auto-correlations

Initial HouseholdInfo:

,psu_hh_idcode,hhid,q02,q03,q04,q05y,q05m,q06,q07,q08,...,q13,q14,q15,q16,q17,q18,q19,q20,q21,q22
0,1_2_1,102,1,1,19600711,52,1,1.0,1.0,2.0,...,3.0,2.0,80.0,NaN,2,NaN,3.0,2.0,80.0,NaN
1,1_2_2,102,2,2,19650225,47,6,1.0,1.0,1.0,...,3.0,2.0,67.0,NaN,2,NaN,3.0,2.0,74.0,NaN
2,1_3_1,103,1,1,19540203,58,7,1.0,1.0,2.0,...,2.0,2.0,85.0,NaN,2,NaN,2.0,2.0,67.0,NaN
3,1_3_2,103,2,2,19560602,56,3,1.0,1.0,1.0,...,2.0,2.0,67.0,NaN,2,NaN,2.0,2.0,67.0,NaN
4,1_3_3,103,1,4,19850825,27,0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN

Columns to remove from HouseholdInfo:

      % of NaN
q22  81.971585
q16  75.471855
q15  73.392775
q21  62.597392
q18  55.431024
q12  51.135369
q08  50.997875
q07  49.385442
q13  48.864631
q14  48.864631
q20  44.568976
q19  44.568976
q06  14.732719

HouseholdInfo after dropping columns with high NA rate:

  psu_hh_idcode  hhid  q02  q03       q04  q05y  q05m  q09  q10  q11  q17
0         1_2_1   102    1    1  19600711    52     1    0    1    2    2
1         1_2_2   102    2    2  19650225    47     6    0    1    2    2
2         1_3_1   103    1    1  19540203    58     7    0    1    2    2
3         1_3_2   103    2    2  19560602    56     3    0    1    2    2
4         1_3_3   103    1    4  19850825    27     0    0    1    1    1

### SubjectivePoverty

In [24]:
SubjectivePoverty = pd.read_csv(os.path.join(RAW_DATA_DIR, "train_SubjectivePoverty.csv"))
subjective_poverty_columns = [f'subjective_poverty_{i}' for i in range(1, 11)]
SubjectivePoverty['subjectivePoverty_rating'] = SubjectivePoverty[subjective_poverty_columns].idxmax(axis=1).str.extract('(\d+)').astype(int)
Ratings = SubjectivePoverty[['psu_hh_idcode', 'subjectivePoverty_rating']]
Ratings.head()

  psu_hh_idcode  subjectivePoverty_rating
0        30_8_1                         4
1       194_1_2                         1
2       224_6_1                         3
3      323_10_1                         5
4      428_10_1                         4

# Handling Missing Values

In [ ]:
Education_clean = pd.read_csv(os.path.join(CLEAN_DATA_DIR, "train_Education_clean.csv"))
HouseholdInfo_clean = pd.read_csv(os.path.join(CLEAN_DATA_DIR, "train_HouseholdInfo_clean_csv"))
Ratings_clean = pd.read_csv(os.path.join(CLEAN_DATA_DIR, "train_SubjectivePoverty_clean.csv"))