In [27]:
import pandas as pd
import os

RAW_DATA_DIR = "../data/raw/"
CLEAN_DATA_DIR = "../data/clean/"

# Basic Cleaning
- column name formatting
- generating primary key psu_hh_idcode
-

### Education

In [123]:
Education = pd.read_csv(os.path.join(RAW_DATA_DIR, "train_Education.csv"))
Education['psu_hh_idcode'] = Education['psu'].astype(str) + '_' + Education['hh'].astype(str) + '_' + Education['idcode'].astype(str)
Education.drop(columns=['psu', 'hh', 'idcode'], inplace=True)
Education = Education[['psu_hh_idcode'] + [col for col in Education.columns if col != 'psu_hh_idcode']]
Education.columns = [col.capitalize() if col.lower().startswith('q') else col for col in Education.columns]
print("Initial Education training set:")
display(Education.head())

# Non-response rate
na_counts = Education.isna().sum()
nrow = len(Education)
na_rate = na_counts / nrow
na_rate = na_rate.sort_values(ascending=False)
cols_to_drop = na_rate[na_rate > 0.3] # threshold = 30%
print("Columns to remove from Education:")
display(cols_to_drop.to_frame(name="NA Rate"))

Education.drop(columns=cols_to_drop.index, inplace=True)
print("Education after dropping columns with high NA rate:")
display(Education.head())


# After correlation analysis

#- Q1 and Q2 have high correlation (0.88) => keep Q1

cols_to_drop_multicolinear = ['Q02', 'Q04', 'Q05', 'Q14', 'Q17', 'Q18']
Education.drop(columns=cols_to_drop_multicolinear, inplace=True)
print("Columns to remove due to high correlation with another variate", cols_to_drop_multicolinear)

print("Education after dropping columns with high correlations")
display(Education.head())
Education.to_csv(os.path.join(CLEAN_DATA_DIR, "train_Education_clean.csv"), index=False)

Initial Education training set:

,psu_hh_idcode,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,...,Q57,Q58,Q59,Q60,Q61,Q62,Q63,Q64,Q65,Q66
0,2_8_3,1,1,1,2.0,3.0,3.0,2.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,2.0
1,3_8_4,1,1,1,2.0,2.0,2.0,0.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,2.0
2,6_5_3,1,1,1,2.0,3.0,3.0,0.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,4.0
3,7_7_3,1,1,1,6.0,1.0,3.0,0.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,6.0
4,16_2_4,1,1,1,5.0,3.0,2.0,4.0,1.0,1.0,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,NaN,2.0

Columns to remove from Education:

      NA Rate
Q60  0.999732
Q31  0.998750
Q16  0.998438
Q10  0.998259
Q65  0.996563
Q63  0.992547
Q62  0.992547
Q55  0.991922
Q56  0.991922
Q52  0.991654
Q53  0.991654
Q51  0.991654
Q54  0.991654
Q58  0.987860
Q20  0.965456
Q49  0.952825
Q44  0.952066
Q25  0.951799
Q30  0.945327
Q29  0.945327
Q48  0.936446
Q47  0.936446
Q36  0.753771
Q37  0.753727
Q39  0.753727
Q38  0.753682
Q34  0.753682
Q40  0.753682
Q35  0.753682
Q33  0.753682
Q13  0.753370
Q12  0.753370
Q09  0.751629
Q28  0.751138
Q27  0.751138
Q32  0.751138
Q26  0.751138
Q50  0.750513
Q57  0.750513
Q59  0.750513
Q61  0.750513
Q64  0.750513
Q46  0.750513
Q45  0.750513
Q66  0.750513
Q43  0.750513
Q21  0.750513
Q41  0.750513
Q42  0.750513
Q24  0.750513
Q23  0.750513
Q22  0.750513
Q15  0.748951

Education after dropping columns with high NA rate:

,psu_hh_idcode,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q11,Q14,Q17,Q18,Q19
0,2_8_3,1,1,1,2.0,3.0,3.0,2.0,1.0,NaN,1.0,NaN,NaN,NaN
1,3_8_4,1,1,1,2.0,2.0,2.0,0.0,1.0,NaN,1.0,NaN,NaN,NaN
2,6_5_3,1,1,1,2.0,3.0,3.0,0.0,1.0,NaN,1.0,NaN,NaN,NaN
3,7_7_3,1,1,1,6.0,1.0,3.0,0.0,1.0,NaN,1.0,NaN,NaN,NaN
4,16_2_4,1,1,1,5.0,3.0,2.0,4.0,1.0,NaN,1.0,NaN,NaN,NaN

Columns to remove due to high correlation with another variate ['Q02', 'Q04', 'Q05', 'Q14', 'Q17', 'Q18']
Education after dropping columns with high correlations

  psu_hh_idcode  Q01  Q03  Q06  Q07  Q08  Q11  Q19
0         2_8_3    1    1  3.0  2.0  1.0  NaN  NaN
1         3_8_4    1    1  2.0  0.0  1.0  NaN  NaN
2         6_5_3    1    1  3.0  0.0  1.0  NaN  NaN
3         7_7_3    1    1  3.0  0.0  1.0  NaN  NaN
4        16_2_4    1    1  2.0  4.0  1.0  NaN  NaN

In [105]:
Education['Q03'].unique()

array([1, 2])

### HouseholdInfo

In [125]:
HouseholdInfo = pd.read_csv(os.path.join(RAW_DATA_DIR, "train_HouseholdInfo.csv"))
HouseholdInfo['psu_hh_idcode'] = HouseholdInfo['psu'].astype(str) + '_' + HouseholdInfo['hh'].astype(str) + '_' + HouseholdInfo['idcode'].astype(str)
HouseholdInfo = HouseholdInfo[['psu_hh_idcode'] + [col for col in HouseholdInfo.columns if col != 'psu_hh_idcode']]
HouseholdInfo.drop(columns=['psu', 'idcode', 'hh'], inplace=True)
print("Initial HouseholdInfo:")
display(HouseholdInfo.head())

# Non-response rate
na_counts = HouseholdInfo.isna().sum()
nrow = len(HouseholdInfo)
na_rate = na_counts / nrow
na_rate = na_rate.sort_values(ascending=False)
cols_to_drop = na_rate[na_rate > 0.1] # threshold = 10%
print("Columns to remove from HouseholdInfo:")
display(cols_to_drop.to_frame(name="NA Rate"))

# Remove these columns
HouseholdInfo.drop(columns=cols_to_drop.index, inplace=True)

#print("HouseholdInfo after dropping columns with high NA rate:")
# display(HouseholdInfo.head())

# Filter out columns with high auto-correlations

# Map binary responses to 1 (yes) or 0 (no)
HouseholdInfo['q10'] = HouseholdInfo['q10'].map({1: 'Yes', 2: 'No'})
HouseholdInfo['q10'] = HouseholdInfo['q10'].map({'Yes': 1, 'No': 0})

HouseholdInfo['q11'] = HouseholdInfo['q11'].map({1: 'Yes', 2: 'No'})
HouseholdInfo['q11'] = HouseholdInfo['q11'].map({'Yes': 1, 'No': 0})

# HouseholdInfo['q14'] = HouseholdInfo['q14'].map({1: 'Yes', 2: 'No'})
# HouseholdInfo['q14'] = HouseholdInfo['q14'].map({'Yes': 1, 'No': 0})

HouseholdInfo['q17'] = HouseholdInfo['q17'].map({1: 'Yes', 2: 'No'})
HouseholdInfo['q17'] = HouseholdInfo['q17'].map({'Yes': 1, 'No': 0})

# HouseholdInfo['q20'] = HouseholdInfo['q20'].map({1: 'Yes', 2: 'No'})
# HouseholdInfo['q20'] = HouseholdInfo['q20'].map({'Yes': 1, 'No': 0})

# dropping q04 because date of birth is unnecessary when we have age
HouseholdInfo.drop(columns=['q04'], inplace=True)
# combining q05y and q05m
# Method 1: combine to q05: age in months
#HouseholdInfo['q05'] = HouseholdInfo['q05y'] * 12 + HouseholdInfo['q05m']
# Method 2: only keep q05y
HouseholdInfo['q05'] = HouseholdInfo['q05y']
HouseholdInfo.drop(columns=['q05y', 'q05m'], inplace=True)

# After correlation analysis:
# q11 and q17 seems to be highly correlated so we decided to combine the two
HouseholdInfo['q23'] = HouseholdInfo['q11'] + HouseholdInfo['q17']
HouseholdInfo.drop(columns=['q11', 'q17'], inplace=True)
# q10 has 0 variance, its not very useful as an explanatory variable. get rid of it
HouseholdInfo.drop(columns=['q10'], inplace=True)

HouseholdInfo = HouseholdInfo[['psu_hh_idcode', 'hhid'] + [col for col in HouseholdInfo.columns.sort_values() if col not in ['psu_hh_idcode', 'hhid']]]
print("train_HouseholdInfo_clean.csv :")
display(HouseholdInfo.head())
HouseholdInfo.to_csv(os.path.join(CLEAN_DATA_DIR, "train_HouseholdInfo_clean.csv"), index=False)

Initial HouseholdInfo:

,psu_hh_idcode,hhid,q02,q03,q04,q05y,q05m,q06,q07,q08,...,q13,q14,q15,q16,q17,q18,q19,q20,q21,q22
0,1_2_1,102,1,1,19600711,52,1,1.0,1.0,2.0,...,3.0,2.0,80.0,NaN,2,NaN,3.0,2.0,80.0,NaN
1,1_2_2,102,2,2,19650225,47,6,1.0,1.0,1.0,...,3.0,2.0,67.0,NaN,2,NaN,3.0,2.0,74.0,NaN
2,1_3_1,103,1,1,19540203,58,7,1.0,1.0,2.0,...,2.0,2.0,85.0,NaN,2,NaN,2.0,2.0,67.0,NaN
3,1_3_2,103,2,2,19560602,56,3,1.0,1.0,1.0,...,2.0,2.0,67.0,NaN,2,NaN,2.0,2.0,67.0,NaN
4,1_3_3,103,1,4,19850825,27,0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN

Columns to remove from HouseholdInfo:

      NA Rate
q22  0.819716
q16  0.754719
q15  0.733928
q21  0.625974
q18  0.554310
q12  0.511354
q08  0.509979
q07  0.493854
q13  0.488646
q14  0.488646
q20  0.445690
q19  0.445690
q06  0.147327

train_HouseholdInfo_clean.csv :

  psu_hh_idcode  hhid  q02  q03  q05  q09  q23
0         1_2_1   102    1    1   52    0    0
1         1_2_2   102    2    2   47    0    0
2         1_3_1   103    1    1   58    0    0
3         1_3_2   103    2    2   56    0    0
4         1_3_3   103    1    4   27    0    2

### SubjectivePoverty

In [121]:
SubjectivePoverty = pd.read_csv(os.path.join(RAW_DATA_DIR, "train_SubjectivePoverty.csv"))
subjective_poverty_columns = [f'subjective_poverty_{i}' for i in range(1, 11)]
SubjectivePoverty['subjectivePoverty_rating'] = SubjectivePoverty[subjective_poverty_columns].idxmax(axis=1).str.extract('(\d+)').astype(int)
Ratings = SubjectivePoverty[['psu_hh_idcode', 'subjectivePoverty_rating']]

# Three of the subjects in SubjectivePoverty train set do not show up in either Education or Household train sets. We get rid of these from subjectivePoverty
# Get the IDs from household and education DataFrames
household_ids = set(HouseholdInfo['psu_hh_idcode'])
education_ids = set(Education['psu_hh_idcode'])

# Combine the IDs from both DataFrames
valid_ids = household_ids.union(education_ids)

# Filter ratings_df to keep only rows with IDs present in valid_ids
Ratings = Ratings[Ratings['psu_hh_idcode'].isin(valid_ids)]

# Display the result
display(Ratings.head())

Ratings.to_csv(os.path.join(CLEAN_DATA_DIR, "train_SubjectivePoverty_clean.csv"), index=False)

  psu_hh_idcode  subjectivePoverty_rating
0        30_8_1                         4
1       194_1_2                         1
2       224_6_1                         3
3      323_10_1                         5
4      428_10_1                         4

# Handling Missing Values

In [ ]:
Education_clean = pd.read_csv(os.path.join(CLEAN_DATA_DIR, "train_Education_clean.csv"))
HouseholdInfo_clean = pd.read_csv(os.path.join(CLEAN_DATA_DIR, "train_HouseholdInfo_clean_csv"))
Ratings_clean = pd.read_csv(os.path.join(CLEAN_DATA_DIR, "train_SubjectivePoverty_clean.csv"))

In [34]:
import pandas as pd
CLEAN_DATA_DIR = "../data/clean/"
RAW_DATA_DIR = "../data/raw/"
train_merged_unfilled = pd.read_csv(os.path.join(CLEAN_DATA_DIR, "TRAIN_MERGED_UNFILLED.csv"))
train_data_cols = list(train_merged_unfilled.columns)


# Merging test datasets
house_test = pd.read_csv(os.path.join(RAW_DATA_DIR, "test_HouseholdInfo.csv"))
house_test['psu_hh_idcode'] = house_test['psu'].astype(str) + '_' + house_test['hh'].astype(str) + '_' + house_test['idcode'].astype(str)
house_test.drop(columns=['psu', 'hh', 'idcode', 'hhid'], inplace=True)
house_test['q05'] = house_test['q05y']
house_test['q23'] = house_test['q11'] + house_test['q17']
house_test.drop(columns=[col for col in house_test.columns if col not in train_data_cols], inplace=True)


edu_test = pd.read_csv(os.path.join(RAW_DATA_DIR, "test_Education.csv"))
edu_test['psu_hh_idcode'] = edu_test['psu'].astype(str) + '_' + edu_test['hh'].astype(str) + '_' + edu_test['idcode'].astype(str)
edu_test.columns = [col.capitalize() if col.lower().startswith('q') else col for col in edu_test.columns]
edu_test.drop(columns=['psu', 'hh', 'idcode'], inplace=True)
edu_test.drop(columns=[col for col in edu_test.columns if col not in train_data_cols], inplace=True)

In [42]:
merged_test_input = house_test.merge(edu_test, on='psu_hh_idcode', how='inner')
cols = ['psu_hh_idcode'] + [col for col in merged_test_input.columns if col != 'psu_hh_idcode']
merged_test_input = merged_test_input[cols]
merged_test_input.to_csv(os.path.join(CLEAN_DATA_DIR, "TEST_INPUT.csv"), index=False)

In [26]:
edu_test.head()

   Q01  Q03  Q06  Q07  Q08  Q11  Q19 psu_hh_idcode
0    1    1  3.0  3.0  1.0  NaN  NaN       648_6_4
1    1    1  3.0  0.0  1.0  NaN  NaN       756_3_3
2    1    1  3.0  3.0  1.0  NaN  NaN       164_8_3
3    1    1  3.0  0.0  1.0  NaN  NaN       375_4_4
4    1    1  3.0  0.0  1.0  NaN  NaN       403_9_1